#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainpage-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-entry {
  position: absolute;
  top: 0;
  right: 0;
}

.posts {
  padding-left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
  margin: 7.5px 0;
  padding: 10px;
  width: 70%;
}

.edit-button {
  margin-right: 5px;
}

.filters-container {
  margin-top: 4%;
}

.filters-container > input {
  width: 70%;
  padding: 10px;
  font-style: italic;
  font-size: medium;
}

.delete-modal {
  width: fit-content;
  font-weight: 600;
  border: 1px solid white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: #242063;
  padding: 16px;
  border-radius: 5px;
}

.delete-modal-button-container {
  display: flex;
  margin-top: 10%;
  justify-content: space-between;
}
